In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
dataset = pd.read_csv("bill_authentication.csv")
dataset.shape

(1372, 5)

In [5]:
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [6]:
X = dataset.drop('Class', axis=1)
y = dataset['Class']

In [9]:
# DECISION TREE FOR CLASSIFICATION
from sklearn.model_selection import train_test_split

# Randomly splits data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [13]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

# "fit" trains algorithm on training data
classifier.fit(X_train, y_train)

# Make predictions
y_pred = classifier.predict(X_test)

In [14]:
# Evaluate the algorithm
from sklearn.metrics import classification_report, confusion_matrix

# Prints the confusion matrix - (0, 1) and (1, 0) count how many were not classified correctly
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[153   1]
 [  5 116]]
              precision    recall  f1-score   support

           0       0.97      0.99      0.98       154
           1       0.99      0.96      0.97       121

    accuracy                           0.98       275
   macro avg       0.98      0.98      0.98       275
weighted avg       0.98      0.98      0.98       275

In [16]:
# DECISION TREE FOR REGRESSION
dataset = pd.read_csv('petrol_consumption.csv')
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [17]:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [ ]:
# https://stackabuse.com/decision-trees-in-python-with-scikit-learn/